@import url(destyle.css);

body {
    font-family: sans-serif;
}

header {
    background-color: #1abc9c;
    background-image: url(https://picsum.photos/1200/500);
    background-size: cover;
    text-align: center;
    padding: 100px 30px;
    color: white;
}

header h1 {
    font-size: 4rem;
    font-weight: bolder;
}

header p {
    font-size: 1.5rem;
    margin-top: .5em;
}

section {
    padding: 100px 30px;
}

.portfolio {
    color: #2c3e50;
    text-align: center;
}

.portfolio h2,
.about h2 {
    font-size: 2rem;
    font-weight: bolder;
}

.portfolio__icons {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    justify-content: space-between;
}

.portfolio__icons img {
    margin: 5px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.about {
    background-color: #1abc9c;
    color: white;
    text-align: center;
}

.about p {
    line-height: 1.5;
}

.about article {
    margin-top: 30px;
}

.about__button {
    margin-top: 50px;
}

.btn {
    border: 2px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px 30px;
}

footer {
    background-color: #1a252f;
    padding: 20px 10px;
    color: white;
    text-align: center;
}

@media (max-width: 1080px) {
    .portfolio__icons {
        width: 640px;
    }
    .portfolio__icons img {
        width: 203px;
    }
}

@media (max-width: 640px) {
    header {
        padding: 50px 30px;
    }
    header h1 {
        font-size: 1.5rem;
    }
    header p {
        font-size: 1rem;
    }

    .portfolio__icons {
        display: block;
        width: 100%;
    }
    .portfolio__icons img {
        width: 100%;
    }
}